.image-box  { height: 200px;  width: 300px; }
.outer-box { border: 2px solid; margin: 4px; float: left; height: 250px;  width: 300px; }
img.ng-star-inserted { height: 200px; width: 300px; }
.delete-icon { float: right; }