.image-box { height: 200px;  width: 300px; }
.outer-box { margin: 4px; float: left; height: 250px; width: 280px; padding: 10px 10px 10px 10px; border: 1px solid #BFBFBF; background-color: white; }
img.ng-star-inserted { height: 200px; width: 280px; }
.delete-icon { float: right; }
.show-shadow { box-shadow: 5px 5px 5px #aaaaaa; }