mat-form-field.form-element.mat-form-field { width: 210px; }
form { margin-top: 20px; margin-left: 40px; }
.dynamic-boxes { padding: 10px; margin-left: 20px; }
img.banner-image { height: 58px; margin-left: -15px; margin-right: 20px; border: 1px solid black; }
.mat-toolbar.mat-primary { background: darkslategrey; color: #fff; }
button.mat-primary { background-color: darkslategray; }